.identificacao{
color: #fb9bd5;
}
.imagens{
    width: 50%; height: 50%;
}
body{
    background-color: #fb9bd5;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.link{
    display: flex;
    flex-direction: column;
}
a{
    margin: 20px;
    padding: 20px;
    background-color: rgb(196, 61, 194);
    color: rgb(0, 0, 0);
    border-radius: 20px;
}