.identificacao{
color: #fb9bd5;
}
.galeria{
    width: 50%; height: 50%;
}
body{
    background-color: #fb9bd5;
    color: rgb(161, 11, 86);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.link{
    display: flex;
    flex-direction: column;
}
a{
    margin: 20px;
    padding: 20px;
    background-color: rgb(118, 248, 183);
    color: rgb(161, 11, 86);
    border-radius: 20px;
}