.identificacao{
color: #fb9bd5;
}
.imagens{
    width: 100%;
}
body{
    background-color: #fb9bd5;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.link{
    display: flex;
    flex-direction: column;
}
a{
    margin: 20px;
    padding: 20px;
    background-color: rgb(217, 236, 12);
    color: rgb(158, 53, 53);
    border-radius: 20px;
}